.quiz-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 auto;
  width: 500px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}


.buttons {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  bottom: 2%;
  position: sticky;  
}
.buttons:hover {
    background-color: #3e8e41;
}

.featureButtons {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.featureButtons:hover {
    background-color: #3e8e41;
}
.topButtons {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  top: 2%;
  position: sticky;  
}
.topButtons:hover {
    background-color: #3e8e41;
}

.result {
  font-weight: bold;
  justify-content: center;
  display: flex;
}
.title {
	font-size: 18px;
	font-weight: bold;
}

.option {
	display: flex;
}

.adminOptions {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin-left: auto;
  	margin-right: auto;
}

.rightAnswer {
	color: #4CAF50;
}
.responseAnswer {
	color: blue;
}
